* {
    margin: 0;
    padding: 0;
}
/* FUNDO MADEIRA E LETRA */ 
body {
    background-image: url(/Menu/img/wood-material-background-wallpaper-texture-concept.jpg);
    color: whitesmoke;
}

header {
    text-align: center;
}

/* LOGO */
header img {
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 { 
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
    color: greenyellow;
}

/* Pra fazer o fundo roxo */

.container {
    background-color: rgba(173, 0, 159, 0.8);
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 15px;
}

h4 {
    text-align: center;
}

ul {
    text-align: center;
    list-style: none;
    margin-bottom: 40px;
}

.linha-horizontal {
    width: 300px;
    border: 1px solid #000;
    justify-items: center;
}